
<div class='row' id='pokedex-row'>
    <div class='col-12 col-md-8' id='pokedex-container'>
        <div class='pokedex-box'>
            <div class='search-box'>
                <form>
                First name: <input type="text" name="searchTerm">
                <input type="submit" value="Submit">
                </form>
            </div>
            <div class='pokedex small-pokedex'>
                <img src='/images/pokedex-small.png'/>
            </div>
            <div class='pokedex large-pokedex'>

            </div>
        </div>
    </div>
    <div class='col-12 col-md-4' id='info-container'>
        {{!-- pokedex info will go in here --}}
        this is just some example text so that the div does not show up as empty
    </div>

</div>