
<div class='row' id='pokedex-row'>
    <div class='col-12 col-md-8 col-lg-12' id='pokedex-container'>
        <div class='pokedex-box'>
            <div class='search-box'>
                <form>
                Pokemon: <input id='pokemonSearch' type="text" name="searchTerm">
                <datalist class='pokemon-list' id="pokemon-list"></datalist>
                <input id='pokemonSubmit' type="submit" value="Submit">
                </form>
            </div>
            <div class='pokedex small-pokedex'>
                <img src='/images/pokedex-small.png' class='pokedex-background' id='small-pokedex-background'/>
                <div class='main-screen' id='small-main-screen'></div>
                <div class='secondary-screen' id='small-secondary'></div>
            </div>
            <div class='pokedex large-pokedex'>
                <img src='/images/pokedex.gif' class='pokedex-background' id='large-pokedex-background'/>
                <div class='main-screen' id='large-main-screen'></div>
                <div class='secondary-screen' id='large-secondary'></div>
            </div>
        </div>
    </div>
    <div class='col-12 col-md-4  col-lg-12' id='info-container'>
        {{!-- pokedex info will go in here --}}
        this is just some example text so that the div does not show up as empty
    </div>

</div>