<div class='flip-screen'>
    <img src='/images/pokedex-backgrounds/flip-screen.gif' alt='flip screen'/>
</div>


<div class='row' id='pokedex-row'>
    {{!-- pokedex col --}}
    <div class='col'>
        <div class='pokedex pixel-font'>
            <div class='searchBar'>
                <div id='searchBox'>
                    Pokemon:
                    <input id='pokemonVal' type="text" name="pokeList">
                    <datalist id="pokeList"></datalist>
                    <input type="submit" value="Submit" id='pokemonSubmit'>
                </div>
            </div>
            <div class='pokedex-holder pixel-font'>    
                <div id='poke-image'>
                    <img src="" id='sprite-image'/>
                </div>
                <div id='poke-data'>
                    <p id='pokeName'></p>
                    <p class='dex-info' id='pokeId'></p>
                    <p class='dex-info' id='pokeHeight'></p>
                    <p class='dex-info' id='pokeWeight'></p>
                </div>
                <div id='poke-info'></div>
                <div class='poke-type' id='poke-type1'></div>
                <div class='poke-type' id='poke-type2'></div>
                <div class='cycle-btn' id='prev-btn' cycle='-1' direction='prev'></div>
                <div class='cycle-btn' id='next-btn' cycle='1' direction='next'></div>
            </div>
        </div>    
    </div>
    {{!-- info col --}}
    <div class='col' id='pokedex-data'>
        <div class='row'>
            <div class='info-box'>
                <div class='info-header'>
                    Pokemon Stats
                </div>
                <div class='info-content'>
                    pokemon info
                </div>
            </div>
            <div class='info-box'>
                <div class='info-header'>
                    Pokemon Stats
                </div>
                <div class='info-content'>
                    pokemon info
                </div>
            </div>
            <div class='info-box'>
                <div class='info-header'>
                    Pokemon Stats
                </div>
                <div class='info-content'>
                    pokemon info
                </div>
            </div>
        </div>
    </div>
</div>
