
<div class='row' id='pokedex-row'>
    <div class='col-12 col-md-8 col-lg-12' id='pokedex-container'>
        <div class='pokedex-box'>
            <div class='search-box'>
                <form>
                Pokemon: <input id='pokemonSearch' type="text" name="searchTerm">
                <datalist class='pokemon-list' id="pokemon-list"></datalist>
                <input id='pokemonSubmit' type="submit" value="Submit">
                </form>
            </div>
            <div class='pokedex small-pokedex'>
                <img src='/images/pokedex-small.png' class='pokedex-background' id='small-pokedex-background'/>
                <div class='main-screen' id='small-main-screen'></div>
                <div class='secondary-screen' id='small-secondary'>
                    <div class='pokeName' id='small-pokeName'></div>
                    <div class='pokeData' id='small-pokeData'>
                        <table class='pokeDataTable'></table>
                    </div>
                </div>
                <div class='id-screen' id='small-id-screen'></div>
                <div class='pokeType pokeType-1 small-pokeType' id='small-pokeType-1'></div>
                <div class='pokeType pokeType-2 small-pokeType' id='small-pokeType-2'></div>
                <div class='cycleBtn small-cycleBtn prevCycle' id='small-prevCycle' direction='prev'>
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class='cycleBtn small-cycleBtn nextCycle' id='small-nextCycle' direction='next'>
                    <i class="fas fa-arrow-right"></i>
                </div>
            </div>
            <div class='pokedex large-pokedex'>
                <img src='/images/pokedex.gif' class='pokedex-background' id='large-pokedex-background'/>
                <div class='main-screen' id='large-main-screen'></div>
                <div class='secondary-screen' id='large-secondary'>
                    <div class='pokeName' id='large-pokeName'></div>
                    <div class='pokeData' id='large-pokeData'>
                        <table class='pokeDataTable'></table>
                    </div>
                </div>
                <div class='id-screen' id='large-id-screen'></div>
                <div class='pokeType pokeType-1 large-pokeType' id='large-pokeType-1'></div>
                <div class='pokeType pokeType-2 large-pokeType' id='large-pokeType-2'></div>
                <div class='cycleBtn large-cycleBtn prevCycle' id='large-prevCycle' direction='prev'></div>
                <div class='cycleBtn large-cycleBtn nextCycle' id='large-nextCycle' direction='next'></div>
            </div>
        </div>
    </div>
    <div class='col-12 col-md-4  col-lg-12' id='info-container'>
        {{!-- pokedex info will go in here --}}
        this is just some example text so that the div does not show up as empty
    </div>

</div>