
/* pokedex styles */
/* --------------------------------------------------------------- */

#pokedex-row {
    margin-top: 30px;
}

.search-box {
    background: #3BB9FF;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.pokedex-box {
    margin: 0 auto;
    background: white;
    border: 3px solid #3BB9FF;
    border-radius: 20px;
}

.pokedex {
    position: relative;
    margin: 0 auto;
    font-family: 'Press Start 2P', cursive;
}

.small-pokedex {
    width: 300px;
    display: none;
}

.large-pokedex {
    width: 745px;
}

.pokedex-background {
    margin-bottom: 10px;
    z-index: -1;
}

#small-pokedex-background {
    height: 591px;
    width: 300px;
}

#large-pokedex-background {
    height: 541px;
    width: 745px;
}

.main-screen {
    position: absolute;
}

#small-main-screen {
    bottom: 298px;
    left: 10px;
    height: 177px;
    width: 280px;
}

#large-main-screen {
    background-image: url('/images/pokedex-backgrounds/basic-background.png');
    background-size: cover;
    bottom: 225px;
    left: 53px;
    height: 177px;
    width: 262px;
    border-radius: 10px;
    border: 2px solid black;
}

.secondary-screen {
    position: absolute;
}

#small-secondary {
    bottom: 142px;
    left: 10px;
    height: 157px;
    width: 280px;
}
#large-secondary {
    background: #30fb05;
    bottom: 275px;
    left: 446px;
    height: 115px;
    width: 243px;
    border-radius: 10px;
    border: 2px solid black;
}

.id-screen {
    position: absolute;
}

.pokeId {
    text-align: center;
    line-height: 60px;
    display: block;
    margin: 0 auto;
    color: black;
}

#small-id-screen {
    bottom: 472px;
    left: 103px;
    height: 51px;
    width: 94px;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
}

#large-id-screen {
    background: #fbfb05;
    bottom: 49px;
    left: 88px;
    height: 57px;
    width: 122px;
    border-radius: 7px;
    border: 2px solid black;
}

.pokeImage {
    width: 170px;
    height: 170px;
    display: block;
    margin: 0 auto;
}

.pokeName {
    position: absolute;
    text-align: center;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 1.2em;
}

#large-pokeName {
    width: 240px;
    min-height: 30px;
    height: auto;
    top: 0;
    left: 0;
}

#small-pokeName {
    width: 278px;
    height: auto;
    top: -10px;
    left: 1px;
}

.pokeData {
    position: absolute;
    font-size: 16px;
    text-align: center
}

#large-pokeData {
    height: 50px;
    width: 240px;
    bottom: 0;
}

#small-pokeData {
    height: 50px;
    width: 278px;
    bottom: 50px;
    left: 1px;
}

.pokeType {
    position: absolute;
    background-size: contain;
}

.large-pokeType {
    height: 49px;
    width: 107px;
    bottom: 50px;
    border-radius: 5px;
    border: 2px solid black;
}

#large-pokeType-1 {
    left: 451px;
}

#large-pokeType-2 {
    left: 578px;
}

.small-pokeType {
    height: 45px;
    width: 120px;
    bottom: 145px;
    border-radius: 5px;
}

#small-pokeType-1 {
    left: 20px;
}

#small-pokeType-2 {
    left: 160px;
}

@media (max-width: 1000px) {
    .small-pokedex {
        display: block;
    }

    .large-pokedex {
        display: none;
    }
}